@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap");
*, *::before, *::after {
  margin: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  margin-bottom: 80px;
}

img {
  width: 100%;
}

section {
  width: 100%;
}

header {
  margin-bottom: 5rem;
}

nav {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 3rem 0;
  width: 85%;
}
nav .navLinksBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav .navLinksBtns .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.8rem;
}
nav .navLinksBtns .nav-links .nav-link {
  text-decoration: none;
  font-weight: 600;
  color: rgb(158, 154, 167);
  transition: all 0.5s ease-in-out;
}
nav .navLinksBtns .nav-links .nav-link:hover, nav .navLinksBtns .nav-links .nav-link:active {
  color: rgb(35, 33, 39);
}
nav .navLinksBtns .nav-btns {
  display: flex;
  gap: 2rem;
  align-items: center;
}
nav .navLinksBtns .nav-btns .nav-grey-btn {
  color: rgb(158, 154, 167);
  text-decoration: none;
  font-weight: 600;
}
nav .navLinksBtns .nav-btns .nav-green-btn {
  text-decoration: none;
  color: #fff;
  background: rgb(42, 207, 207);
  padding: 0.8rem 1rem;
  border-radius: 8rem;
  transition: all 0.5s ease-in-out;
}
nav .navLinksBtns .nav-btns .nav-green-btn:hover, nav .navLinksBtns .nav-btns .nav-green-btn:active {
  background: rgba(42, 207, 207, 0.7);
}

#hero-section {
  width: 100%;
  position: relative;
  margin-bottom: 15rem;
}
#hero-section .hero-section-container {
  margin: 0 auto;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 8rem;
}
#hero-section .hero-section-container .hero-section-h3 {
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 0.8rem;
}
#hero-section .hero-section-container .hero-section-p-one {
  font-size: 1.8rem;
  font-weight: 500;
  color: rgb(158, 154, 167);
  margin-bottom: 1.2rem;
}
#hero-section .hero-section-container .hero-section-btn {
  display: inline-block;
  text-decoration: none;
  background: rgb(42, 207, 207);
  color: #fff;
  padding: 0.8rem 1.2rem;
  border-radius: 1.2rem;
}
#hero-section .hero-section-second-col {
  position: absolute;
  width: 45%;
  right: 0;
  animation: heroSecondColDance 8s infinite alternate-reverse ease-in-out;
}

@-webkit-keyframes heroSecondColDance {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(18px);
  }
}

@keyframes heroSecondColDance {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(18px);
  }
}
.input-link-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  background: linear-gradient(rgba(59, 48, 84, 0.95), rgba(59, 48, 84, 0.95)), url(/images/bg-shorten-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  padding: 8rem 0;
}
.input-link-container .input-link-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.input-link-container .input-link-form .input-link-input {
  width: 60%;
  padding: 1.3rem 1rem 1.3rem 0.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  outline: none;
  border: none;
}
.input-link-container .input-link-form .input-link-btn {
  padding: 1.3rem 2rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  background: rgb(42, 207, 207);
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.6s ease-in-out;
}
.input-link-container .input-link-form .input-link-btn:hover, .input-link-container .input-link-form .input-link-btn:active {
  background: rgba(42, 207, 207, 0.7);
}/*# sourceMappingURL=main.css.map */