@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap');
// 
$cyan: rgb(42, 207, 207);
$dark-violet: rgb(59, 48, 84);
$red: rgb(244, 98, 98);
$grey: rgb(191, 191, 191);
$greyish-violet: rgb(158, 154, 167);
$very-dark-blue: rgb(53, 50, 62);
$very-dark-violet: rgb(35, 33, 39);
*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body{
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  background: #e3e3e3;
}
img{
  width: 100%;
}
section{
  width: 100%;
}
main{
  background: #fff;
  padding-bottom: 6rem;
}
header{
  margin-bottom: 5rem;
}
nav{
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 3rem 0;
  width: 85%;
// 
  & .navLinksBtns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // 
  // 
  & .nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.8rem;
    & .nav-link{
      text-decoration: none;
      font-weight: 600;
      color: $greyish-violet;
      transition: all .5s ease-in-out;
    }
    & .nav-link:hover, & .nav-link:active{
      color: $very-dark-violet;
    }
  }
  // 
  // 
  .nav-btns{
    display: flex;
    gap: 2rem;
    align-items: center;
    & .nav-grey-btn{
      color: $greyish-violet;
      text-decoration: none;
      font-weight: 600;
    }
    & .nav-green-btn{
      text-decoration: none;
      color: #fff;
      background: $cyan;
      padding: .8rem 1rem;
      border-radius: 8rem;
      transition: all .5s ease-in-out;
    }
    & .nav-green-btn:hover, & .nav-green-btn:active{
      background: rgba($cyan, .7);
    }
  }
}
}
// 
// 
// HERO SECTION
// 
// 
#hero-section{
  width: 100%;
  position: relative;
  margin-bottom: 15rem;
  & .hero-section-container{
    margin: 0 auto;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 8rem;
    & .hero-section-h3{
      font-size: 5rem;
      font-weight: 800;
      margin-bottom: .8rem;
    }
    & .hero-section-p-one{
      font-size: 1.8rem;
      font-weight: 500;
      color: $greyish-violet;
      margin-bottom: 1.2rem;
    }
    & .hero-section-btn{
      display: inline-block;
      text-decoration: none;
      background: $cyan;
      color: #fff;
      padding: .8rem 1.2rem;
      border-radius: 1.2rem;
    }
  }
  & .hero-section-second-col{
    position: absolute;
    width: 45%;
    right: 0;
    animation: heroSecondColDance 8s infinite alternate-reverse ease-in-out;
  }
}
@keyframes heroSecondColDance {
  from{
    transform: translateY(-15px);
  }
  to{
    transform: translateY(18px);
  }
}
// 
// 
// INPUT LINK SECTION
// 
// 
#input-link-section{
  margin-bottom: 10rem;
}
.input-link-container{
  width: 85%;
  margin: 0 auto;
  margin-bottom: 3rem;
  display: flex;
  background: linear-gradient(rgba($dark-violet, .95), rgba($dark-violet, .95)), url(/images/bg-shorten-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  padding: 8rem 0;
  & .input-link-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    & .input-link-input{
      width: 60%;
      padding: 1.3rem 1rem 1.3rem .5rem;
      font-size: 1.5rem;
      border-radius: 1rem;
      outline: none;
      border: none;
    }
    & .input-link-btn{
      padding: 1.3rem 2rem;
      border-radius: 1rem;
      border: none;
      cursor: pointer;
      background: $cyan;
      color: #fff;
      font-size: 1.5rem;
      transition: all .6s ease-in-out;
    }
    & .input-link-btn:hover, & .input-link-btn:active{
      background: rgba($cyan, .7);
    }
  }
}
// 
// LINK GENERATED
// 
.linksGenerated{
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  & .linkGenerated{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1.2rem 1.3rem;
    border-radius: 1rem;
    & .long-link{
      color: $very-dark-violet;
      font-size: 1.6rem;
    }
    & .shortLink{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      & .short--link{
        color: $cyan;
        font-size: 1.6rem;
      }
      & .copy-btn{
        background: $cyan;
        border: none;
        font-size: 1.6rem;
        padding: 1rem 2rem;
        border-radius: 1rem;
        color: #fff;
        cursor: pointer;
        transition: all .5s ease-in-out;
      }
      & .copy-btn:hover, & .copy-btn:active{
        background: rgba($cyan, .7)
      }
    }
  }
}
// 
// ADVANCE STATS SECTION
// 
#advance-stats-section{
  margin-bottom: 6rem;
  & .advance-stats-container{
    width: 85%;
    margin: 0 auto;
    & .advance-stats-first-content{
      text-align: center;
      & .advance-stats-h3{
        color: $very-dark-violet;
        font-weight: 800;
        font-size: 3.2rem;
        margin-bottom: 1rem;
      }
      & .advance-stats-p-one{
        opacity: .6;
        font-weight: 600;
        font-size: 1.6rem;
      }
    }
  }
  // 
  // 
  & .advance-stats-second-content{
    position: relative;
    margin-top: 15rem;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
  }
  & .card{
    width: 34rem;
    background: #fff;
    padding: 5rem 3rem;
    border-radius: .8rem;
  }
  & .card-icon{
    position: relative;
    background: $dark-violet;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: -8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    & .card--icon{
      width: 100%;
    }
  }
  & .card-context{
    margin-top: 2.5rem;
    & .card-h3{
      font-size: 2.2rem;
      font-weight: 800;
      margin-bottom: 1rem;
    }
    & .card-p-one{
      font-weight: 600;
      opacity: .58;
    }
  }
  .card-back-line{
    height: 10px;
    width: 650px;
    background: $cyan;
    position: absolute;
    z-index: -1;
  }
  .card--two{
    margin-top: 5rem;
  }
  .card--three{
    margin-top: 12rem;
  }
}
// 
// CTA SECTION
// 
#cta-section{
  background: linear-gradient(rgba($dark-violet, .96), rgba($dark-violet, .96)), url(/images/bg-boost-desktop.svg);
  padding: 8rem 0;
  & .cta-section-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    & .cta-section-h3{
      color: #fff;
      font-size: 2.6rem;
      font-weight: 800;
      letter-spacing: -1.2px;
    }
    & .cta-btn{
      display: inline-block;
      text-decoration: none;
      color: #fff;
      font-weight: 600;
      letter-spacing: 1px;
      background: rgba($cyan, .7);
      padding: 1rem 2rem;
      border-radius: 1rem;
      transition: all .6s ease-in-out;
    }
    & .cta-btn:hover, & .cta-btn:active{
      background: $cyan;
    }
  }
}
// 
// FOOTER SECTION
// 
#footer-section{
  background: $very-dark-violet;
  padding: 8rem;
  .footer-section-container{
    margin: 0 auto;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: start;
    gap: 4rem;
    & .footer-logo-h4{
      color: #fff;
      font-size: 2.6rem;
      letter-spacing: .15rem;
    }
    & .footer-links-header{
      color: rgb(255, 255, 255);
      margin-bottom: 1.5rem;
      font-size: 1.7rem;
    }
    & .footer-link{
      text-decoration: none;
      color: $grey;
      font-weight: 600;
      transition: all .8s ease-in-out;
    }
    & .footer-link:hover,& .footer-link:active{
      color: $cyan;
    }
  }
}
// 
// 
.footer-first-links,.footer-second-links,.footer-third-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-fourth-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer-fourth-links div{
  height: 40px;
  width: 40px;
  padding: 1rem;
  transition: all .4s ease-in-out;
}
.footer-fourth-links div:hover{
  background: $cyan;
  border-radius: 50%;
}
.input-error.input-link-input{
  box-shadow: 0 0 0 1px red;
}
// 
// 

