@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap');
// 
$cyan: rgb(42, 207, 207);
$dark-violet: rgb(59, 48, 84);
$red: rgb(244, 98, 98);
$grey: rgb(191, 191, 191);
$greyish-violet: rgb(158, 154, 167);
$very-dark-blue: rgb(53, 50, 62);
$very-dark-violet: rgb(35, 33, 39);
*,*::before,*::after{
  margin: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
}
img{
  width: 100%;
}
header{
  margin-bottom: 5rem;
}
nav{
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 3rem 0;
  width: 85%;
// 
  & .navLinksBtns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // 
  // 
  & .nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.8rem;
    & .nav-link{
      text-decoration: none;
      font-weight: 600;
      color: $greyish-violet;
      transition: all .5s ease-in-out;
    }
    & .nav-link:hover, & .nav-link:active{
      color: $very-dark-violet;
    }
  }
  // 
  // 
  .nav-btns{
    display: flex;
    gap: 2rem;
    align-items: center;
    & .nav-grey-btn{
      color: $greyish-violet;
      text-decoration: none;
      font-weight: 600;
    }
    & .nav-green-btn{
      text-decoration: none;
      color: #fff;
      background: $cyan;
      padding: .8rem 1rem;
      border-radius: 8rem;
      transition: all .5s ease-in-out;
    }
    & .nav-green-btn:hover, & .nav-green-btn:active{
      background: rgba($cyan, .7);
    }
  }
}
}
// 
// 
// HERO SECTION
// 
// 
#hero-section{
  width: 100%;
  position: relative;
  & .hero-section-container{
    margin: 0 auto;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 8rem;
    & .hero-section-h3{
      font-size: 5rem;
      font-weight: 800;
      margin-bottom: .8rem;
    }
    & .hero-section-p-one{
      font-size: 1.8rem;
      font-weight: 500;
      color: $greyish-violet;
      margin-bottom: 1.2rem;
    }
    & .hero-section-btn{
      display: inline-block;
      text-decoration: none;
      background: $cyan;
      color: #fff;
      padding: .8rem 1.2rem;
      border-radius: 1.2rem;
    }
  }
  & .hero-section-second-col{
    position: absolute;
    width: 45%;
    right: 0;
  }
}